<div class="component-wrapper">
  <h2>Observables</h2>
  <div class="pricing-wrapper">
    <div class="microsoft-pricing">
        <h3>Microsoft</h3>
        <div class="price-wrapper">
          <div>Opening price</div>
          <div>{{openingPriceMicrosoftValue}}</div>
        </div>
      <div class="price-wrapper">
        <div>Current price</div>
        <div>{{microsoftStockPrice}}</div>
      </div>
      <div class="price-wrapper">
        <div>Price change</div>
        <div class="change-price-wrapper" [ngClass]="(microsoftStockPrice - openingPriceMicrosoftValue) > 0 ? 'green' : 'red'">{{changeMicrosoftStockPrice}}</div>
      </div>
      <br/>
      <br/>
      <div class="price-wrapper">
        <div>Microsoft Price in PLN</div>
        <div class="change-price-wrapper">{{microsoftPriceInPln}}</div>
      </div>
    </div>
    <div class="usd-pln-pricing">
      <h3>USD/PLN</h3>
      <div class="price-wrapper">
        <div>Opening price</div>
        <div>{{openingPriceUsd}}</div>
      </div>
      <div class="price-wrapper">
        <div>Current price</div>
        <div>{{usdPlnPrice}}</div>
      </div>
      <div class="price-wrapper">
        <div>Price change</div>
        <div class="change-price-wrapper" [ngClass]="(usdPlnPrice - openingPriceUsd) > 0 ? 'green' : 'red'">{{changeUSDPln}}</div>
      </div>
    </div>
  </div>
</div>
